@import "../../../scss/base-import";

.holdings-table {
  display: flex;
  flex-direction: column;
  width: 95vw !important;

  @include media-breakpoint-up(md) {
    width: 700px !important;
  }

  @include media-breakpoint-up(lg) {
    width: 800px !important;
  }

  .header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .title {
    font-size: 18px;
    font-weight: bold;
  }

  .add-holding-button {
    background: goldenrod;
    margin-left: auto;
    border: none;

    &:active,
    &:hover {
      background: goldenrod !important;
    }
  }

  .heading {
    text-align: center;

    @include media-breakpoint-up(md) {
      text-align: left;
    }
  }

  .heading--blank {
    padding: 0 30px !important;
  }

  .row-item {
    text-align: center;
    vertical-align: middle;
    padding: 8px 4px !important;

    @include media-breakpoint-up(md) {
      text-align: left;
      padding: 8px !important;
    }
  }

  .field--name {
    display: none;

    @include media-breakpoint-up(md) {
      display: block;
    }
  }

  .action-button {
    background: goldenrod;
    margin: 2px 0;
    border: none;

    &:active,
    &:hover {
      background: goldenrod !important;
    }

    @include media-breakpoint-up(md) {
      margin: 0 2px;
    }
  }

  .no-data-response {
    padding: 20px 0 20px 20px !important;
  }
}
