@import '../../../scss/base-import';

.assets-table {
  display: flex;
  flex-direction: column;
  width: 95vw !important;

  @include media-breakpoint-up(md) {
    width: 700px !important;
  }

  @include media-breakpoint-up(lg) {
    width: 800px !important;
  }

  &__header {
    display: flex;
    margin-bottom: 10px;
  }

  &__title {
    font-size: 18px;
    font-weight: bold;
  }

  &__add-asset-button {
    margin-left: auto;
  }

  &__heading {
    text-align: center;

    @include media-breakpoint-up(md) {
      text-align: left;
    }
  }

  &__heading--blank {
    padding: 0 30px !important;
  }

  &__row-item {
    text-align: center;
    vertical-align: middle;
    padding: 8px 4px !important;

    @include media-breakpoint-up(md) {
      text-align: left;
      padding: 8px !important;
    }
  }

  &__field--name {
    display: none;

    @include media-breakpoint-up(md) {
      display: block;
    }
  }

  &__action-button {
    margin: 2px 0;

    @include media-breakpoint-up(md) {
      margin: 0 2px;
    }
  }

  &__no-data-response {
    padding: 20px 0 20px 20px !important;
  }
}
