@import '../../../scss/base-import';

.assets-table {
  display: flex;
  flex-direction: column;
  width: 800px !important;

  &__header {
    display: flex;
    margin-bottom: 10px;
  }

  &__title {
    font-size: 18px;
    font-weight: bold;
  }

  &__add-asset-button {
    margin-left: auto;
  }

  &__heading--blank {
    padding: 0 30px !important;
  }

  &__action-button {
    margin: 0 2px;
  }

  &__no-data-response {
    padding: 20px 0 20px 20px !important;
  }
}
